# General
BasedOnStyle: GNU
UseTab: Never
IndentWidth: 4
ColumnLimit: 240

# C/C++ Common
SortIncludes: Never
PointerAlignment: Left
SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceBeforeParens: ControlStatements

# C++ Only
AlwaysBreakTemplateDeclarations: Yes